{% extends "base.html" %}
{% block title %}Projects - Erika Herrera{% endblock %}

{% block content %}

<section class="portfolio-section">
  <h1>Delinker System - VR Training course</h1>
</section>

  <section class="portfolio-section">
    <h2>Overview</h2>
    <p>Years ago, the learning and development team developed an e-learning module to train machine operators in the setup, operation, disassembly, and cleaning procedures for a food processing machine called Delinker. Although the e-learning module was a practical training resource, the senior learning designer and the health and safety manager always envisioned taking the concept further using virtual reality technology to train new machine operators safely. Based on the e-learning module and my occupational health and safety experience, they asked me to collaborate on the design of this VR training module.
    </p>
  </section>

  <section class="portfolio-section">
    <h2>Design Process</h2>
    <div class="project-wrapper">
      <section class="project-item">
        <img src="{{ url_for('static', filename='/images/project-troy-podcast-500px.png') }}"
          srcset="{{ url_for('static', filename='images/project-decoded-youtube-1000px.png')}} 2x"
          alt="Decoded by Erika YouTube video thumbnails">
        <h3>Analysis </h3>
        <p>In this project, I worked closely with the team to ensure that the redesign maintained the intended learning outcomes and accurately reflected the performance context and training needs. To achieve this, I conducted several visits to the production department to collect learners' data (machine operators), gaining valuable insights into their daily tasks and challenges. The basic data-gathering procedures included interviews and observations.
          Based on these visits and my experience in occupational health and safety, I compiled a comprehensive report that detailed the physical environment where the skills would be applied, along with a list of specific factors that could facilitate or interfere with the learners' ability to use the VR tool effectively. This report was instrumental in guiding the development process, ensuring the VR module was closely aligned with real-world conditions and supported the safe and effective operation of the machinery.</p>


      </section>

      <section class="project-item">
        <img src="{{ url_for('static', filename='/images/project-troy-podcast-500px.png') }}"
          srcset="{{ url_for('static', filename='images/project-decoded-youtube-1000px.png')}} 2x"
          alt="List of course names and thumbnails">
        <h3>Design and Development</h3>
        <p>Using a digital camera during visits to the production environment could capture visual data, which could then be used to create realistic VR prototypes. This approach also allowed the developer to visualise the real working environment within the VR module, ensuring high fidelity in the training design. I also utilised digital tools like mobile survey apps (e.g., Google Forms) to streamline data collection and improve the accuracy of insights gathered from operators.</p> 
      </section>

      <section class="project-item">
        <img src="{{ url_for('static', filename='/images/project-troy-podcast-500px.png') }}"
          srcset="{{ url_for('static', filename='images/project-decoded-youtube-1000px.png')}} 2x"
          alt="The TROY podcast website homepage">
        <h3>Course Features and Highlights</h3>
        <p>The training module featured an interactive and immersive VR training module that accurately replicated the performance context. The key highlight of this VR training module was that the VR environment allowed users to engage safely in a hands-on experience, closely mirroring real-world procedures.</p>
      </section>

      <section class="project-item">
        <img src="{{ url_for('static', filename='/images/project-troy-podcast-500px.png') }}"
          srcset="{{ url_for('static', filename='images/project-decoded-youtube-1000px.png')}} 2x"
          alt="The Wire Ipsum quote generator website">
        <h3>Challenges</h3>
        <p>One of the main challenges was ensuring that the data collected accurately reflected the daily tasks and challenges faced by the machine operators. Some operators couldn't communicate clearly as English was their second language, and certain tasks were not fully captured during observations. To overcome these issues, I implemented the use of Google Forms, which enabled quick translation and streamlined data collection. Additionally, by using a digital camera during my visits to the production environment, we were able to record the operators' movements, which proved invaluable for accurately developing the training module.</p>
      </section>

      <section class="project-item">
        <img src="{{ url_for('static', filename='/images/project-troy-podcast-500px.png') }}"
          srcset="{{ url_for('static', filename='images/project-decoded-youtube-1000px.png')}} 2x"
          alt="The Wire Ipsum quote generator website">
        <h3>Feedback and Outcomes</h3>
        <p>The feedback on the VR training module highlighted the effectiveness of its immersive experience, with users appreciating the clear visual and accuracy of the procedural training, meeting the performance goals. The collaborative approach, combined with advanced VR technologies, enabled the creation of a training tool that effectively meets business and user needs, providing a practical, hands-on learning experience in a controlled virtual environment.</p>
      </section>
    </div>
  </section>

{% endblock %}




