{% extends "base.html" %} {% block title %}Projects - Erika Herrera{% endblock
%} {% block content %}

<section class="portfolio-section">
  <h1>Introduction to Criminal Justice</h1>
</section>

<section class="portfolio-section">
  <h2>Overview</h2>
  <p>
    This course was originally created for on-campus students at the University
    of Canterbury. In February 2023, it was chosen to be redesigned for online
    delivery, and I was appointed as the instructional designer to lead the
    project. The decision to move the Certificate in Criminal Justice online
    came after a noticeable drop in lecture attendance, and also many requests
    from potential students who wanted the qualification to be fully available
    online as they live in remote areas around the country. Introduction to
    Criminal Justice is the foundational course for the programme.
  </p>
</section>

<section class="portfolio-section carousel-element">
  <div id="carouselExampleCaptions" class="carousel slide pointer-event">
    <div class="carousel-indicators">
      <!-- //  ADD AS MANY AS YOU ADD IMAGES  // -->
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
        class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
        class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"
        class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"
        class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- //  IMAGE  // -->
        <img src="{{ url_for('static', filename='/images/projects/criminal-justice/cj-1.png') }}"
          alt="Learning Management System course main page" class="d-block w-100" />
        <!-- //  CAPTION  // -->
        <div class="carousel-caption d-none d-md-block">
          <p>LMS: Course main page.</p>
        </div>
      </div>
      <div class="carousel-item">
        <!-- //  IMAGE  // -->
        <img src="{{ url_for('static', filename='/images/projects/criminal-justice/cj-2.png') }}"
          alt="Padlet board used to brainstorm expectations and design ideas" class="d-block w-100" />
        <!-- //  CAPTION  // -->
        <div class="carousel-caption d-none d-md-block">
          <p>Padlet board used to brainstorm expectations and design ideas.</p>
        </div>
      </div>
      <div class="carousel-item">
        <!-- //  IMAGE  // -->
        <img src="{{ url_for('static', filename='/images/projects/criminal-justice/cj-3.png') }}"
          alt="Design strategy used to identify multimedia that need to be created" class="d-block w-100" />
        <!-- //  CAPTION  // -->
        <div class="carousel-caption d-none d-md-block">
          <p>Design strategy used to identify multimedia that need to be created.</p>
        </div>
      </div>
      <div class="carousel-item">
        <!-- //  IMAGE  // -->
        <img src="{{ url_for('static', filename='/images/projects/criminal-justice/cj-4.png') }}"
          alt="Interactive infographic created un Storyline360" class="d-block w-100" />
        <!-- //  CAPTION  // -->
        <div class="carousel-caption d-none d-md-block">
          <p>Interactive infographic created using Storyline360.</p>
        </div>
      </div>
      <div class="carousel-item">
        <!-- //  IMAGE  // -->
        <img src="{{ url_for('static', filename='/images/projects/criminal-justice/cj-5.png') }}"
          alt="Interactive infographic created un Storyline360" class="d-block w-100" />
        <!-- //  CAPTION  // -->
        <div class="carousel-caption d-none d-md-block">
          <p>Interactive infographic created using Storyline360.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="portfolio-section">
  <h2>Analysis</h2>
  <p>
    The goal of the course was to give learners a clear and complete understanding of New Zealand's 
    criminal justice system. I worked closely with the Subject Matter Expert (SME), holding
    meetings to anlyse the learning environment, define the course requirements,
    and make the content relevant with real-world examples. This approach ensured the course was
    flexible enough to meet the needs of different learners. We used a Padlet board to share ideas
    and recorded all decisions in a project scope document to keep everything organised.
  </p>
</section>

<section class="portfolio-section">
  <h2>Design and Development</h2>
  <p>
    I used instructional design principles such as constructive alignment to
    ensure the content, assessments and course learning outcomes were aligned.
    We mapped out the design strategy in an Excel sheet used by the team, which
    is also used to identify videos/animations, that will need to be created by
    the Media Team. I used Rise360 to develop the course content and
    Storyline360 and Adobe Illustrator to create images and interactive
    graphics. The Learning Management System (LMS) used was <a href="https://www.totara.com/" target="_blank">Totara
      (Moodle
      version 3.5)</a>.
  </p>
</section>

<section class="portfolio-section">
  <h2>Course Features and Highlights</h2>
  <p>
    One of the standout features of this course is the design approach we took.
    We used story-based learning to present the content. Using a narrative of
    two friends who commit a crime, we examine their lives before they were
    arrested, their contact with the police, the courts, their lives and
    challenges in the criminal justice system. We use moments in this story to
    act as trigger points for content. That way, the whole course became a
    narrative.
  </p>
  <p>
    Another critical element is the use of multimedia elements such as
    interviews with experts in criminal justice, people who work in corrections,
    and police officers, as well as interactive infographics to enhance
    understanding and retention of complex topics.
  </p>
</section>

<!-- <section class="portfolio-section youtube-element">
  <div class="ratio ratio-16x9 video-border">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k3jrkQ0keh8" allowfullscreen></iframe>
  </div>
</section> -->

<section class="portfolio-section">
  <h2>Challenges</h2>
  <p>
    We encountered several challenges during the course development. One
    significant issue was coordinating with a large number of guest speakers,
    all of whom are criminal justice experts, and managing the actors'
    availability for filming, as they had busy schedules. To address these
    challenges, we explored various contingency plans to ensure the videos could
    be produced.
  </p>
  <p>
    Another challenge towards the end of the development process, we realised
    that a topic from Module 6 needed to be moved to Module 3. This adjustment
    disrupted the narrative flow slightly. I reviewed the content and suggested
    some changes to the SME to maintain coherence. Afterward, we involved the
    copy editor in proofreading and ensuring consistency throughout the revised
    sections.
  </p>
</section>

<section class="portfolio-section">
  <h2>Feedback and Outcomes</h2>
  <p>
    Learner feedback has been overwhelmingly positive, with many praising the
    clarity and accessibility of the course content. This high level of
    satisfaction is reflected in a Net Promoter Score (NPS) of 9.20 out of 10.
    Collaborating with the SME not only allowed me to share and implement
    innovative ideas but also contributed to applying improvements in the
    on-campus version of the course. As a result, the SME was honoured with the
    Outstanding Teaching and Learning Transformation Award in 2024. The award
    committee noted: "The sub-committee was particularly impressed with how you
    transformed 'Introduction to Criminal Justice' across digital, pedagogical,
    and bicultural dimensions in such a short time, and augmented your
    pedagogical innovations with reflection and scholarship. Your contributions
    to the University are creative, distinctive, and exemplary." This
    recognition highlights the impact of our collaborative efforts on both the
    online and on-campus learning experience.
  </p>
</section>

<!-- Go Back Button -->
<div class="text-center mt-4">
  <a class="btn btn-lg fs-3" href="javascript:history.back()">Go Back</a>
</div>

{% endblock %}