/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/* GLOBAL STYLES 
------------------------------------*/

:root {
  --font1: "Caveat", cursive;
  --font2: "Poppins", sans-serif;
  --font3: "Montserrat", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Open Sans", sans-serif;
  --font6: "Playfair Display", serif;
  --font7: "Abril Fatface", serif;
  --font8: "Merriweather", serif;
<<<<<<< HEAD
  --font9: "Oswald", sans-serif;
  --font10: "Raleway", sans-serif;


=======
>>>>>>> 23cecb45eca3643e0539e4086879d42cc7ef7f7c
}

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* set default to 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  background: #f6f6f6;
  margin: 0;
  font-family: var(--font2);
  font-size: 1.5rem;
  line-height: 1.4;
}
h1,
h2,
h3 {
<<<<<<< HEAD
  font-family: var(--font9);
=======
  font-family: var(--font6);
>>>>>>> 23cecb45eca3643e0539e4086879d42cc7ef7f7c
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 7rem;
  line-height: 0.85;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}

/* links */
a {
  color: #54b7f7;
}
a:hover {
  color: #050505;
  text-decoration: none;
}
footer a {
  color: #bcaa96;
}
footer a:hover {
  color: #3c8453;
}
.btn {
  background: #54b7f7;
  color: #f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  padding: 7px;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 4px;
}

.download-link {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .download-link {
    position: absolute;
  }
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}

/* Portfolio
------------------------------------*/
.portfolio header::before {
  background: url(../images/blue-background-homepage.png) center;
  background-size: cover;
  content: "";
  display: block;
  height: 550px;
}

.portfolio-section {
  margin-bottom: 50px;
}
.portfolio-section h2 {
  border-bottom: 2px dashed #d3d4d6;
}
@media screen and (max-width: 500px) {
  .portfolio header::before {
    height: 200px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
}

/* Projects
------------------------------------*/
.project-item {
  margin: 30px 0;
}
.project-item img {
  width: 300px;
}
@media screen and (min-width: 860px) {
  .project-item {
    display: flow-root;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
}
@media screen and (min-width: 650px) and (max-width: 859px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .project-item img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .project-item img {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Work Experience
------------------------------------*/
.work-item {
  margin: 30px 0;
}
.work-details p {
  margin: 0;
}

@media screen and (min-width: 860px) {
  .work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  .work-summary p:first-child {
    margin-top: 0;
  }
}

/* Education
------------------------------------*/
.education-item {
  margin: 30px 0;
}
.education-item p {
  margin: 0;
}

/* Certifications
------------------------------------*/
.certification-item {
  margin: 30px 0;
}
.certification-item p {
  margin: 0;
}

/* Navbar
------------------------------------*/
.navbar {
  width: 100%;
  margin: 0;
  min-height: 70px;
  background-color: #040309;
  font-size: 1.9rem;
}

.nav-item {
  margin: 0 20px;
}

.navbar-list li a {
  font-weight: bold;
  font-family: var(--font2);
}

.navbar a {
  color: #fff;
}

.custom-toggler {
  position: relative;
  left: 50%;
  transform: translateX(-51%);
  align-items: center;
  margin: 5px 0;
  font-size: 1.9rem;
}

.custom-toggler-text {
  padding: 5px;
  font-weight: bold;
  font-family: var(--font2);
}

.custom-toggler.navbar-toggler {
  border: 3px solid #fff;
  transition: border-color 0.5s ease;
  color: #fff;
  text-align: center;
  box-shadow: none;
}

.custom-toggler.navbar-toggler:hover {
  border-color: #ff3b88;
  color: #fff;
}

.custom-toggler.navbar-toggler:active {
  border-color: #fff;
  color: #ff3b88;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-list li {
  float: left;
  margin: 6px 10px;
}

.navbar-list a {
  text-decoration: none;
  padding-bottom: 1px;
}

.navbar-list a:hover {
  color: #ff3b88;
  transition: 0.5s ease;
}

.menu-selected {
  border-bottom: solid 2px #ff3b88;
  color: #ff3b88;
}

/* Footer
------------------------------------*/
footer {
  background: #222;
  color: #d3d4d6;
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-left: 10px;
}
.socials img {
  width: 32px;
}
.socials img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 860px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
}
@media screen and (max-width: 859px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}
