<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="portfolio">

  <a class="btn download-link" href="{{ url_for('static', filename='pdf/Erika_Herrera_Resume.pdf')}}" download>Download Resume</a>

  <!-- Header -->
  <header>
    {% include 'navbar.html'%}
  </header>

  <!-- Main Content -->
  <div class="content-wrapper">
      <main>
        {% block content %}{% endblock %}
      </main>
  </div>

  <!-- Footer -->
  {% include 'footer.html' %}

</body>
</html>
