{% extends "base.html" %} {% block title %} Contact- Erika Herrera{% endblock %}
{% block content %}

<section class="portfolio-section contact-container">
  <h2>Get in Touch</h2>

  <section class="contact-item">
    <h3>Email</h3>
    <p>
      <a href="contact@eriherrera.com">contact@eriherrera.com</a>
    </p>
  </section>

  <section class="contact-item">
    <h3>Networks</h3>
    <ul class="socials">
      <li>
        <a href="https://www.linkedin.com/in/eriherrera/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li>
        <a href="https://github.com/eriherre" target="_blank"><i class="fa-brands fa-github"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/eri_herre/" target="_blank"
          ><i class="fa-brands fa-square-instagram"></i
        ></a>
      </li>
    </ul>
  </section>
</section>

{% endblock %}
