{% extends "base.html" %} {% block title %} Experience- Erika Herrera {%
endblock %} {% block content %}

<!-- //  SUMMARY  // -->
<section class="portfolio-section">
  <h2>Summary</h2>
  <p>
    <!-- // With over ten years in the learning industry, I bring diverse experiences,
      including roles as a health and safety technician and teacher, curriculum
      developer, and designer of interactive e-learning and online courses. // -->

    I am a learner‑centred and goal‑oriented Instructional Designer. With a
    robust background in Occupational Health & Safety and Quality control, I
    bring a unique perspective to learning design and project management. My
    work is driven by the values of continuous learning, integrity, and
    adaptability, ensuring effective and engaging learning experiences.
  </p>
</section>

<!-- //  WORK EXPERIENCE  // -->
<section class="portfolio-section">
  <!-- Start content edits below this line.  -->
  <h2>Work Experience</h2>

  <section class="work-item">
    <div class="work-details">
      <h3>Instructional Designer</h3>
      <p>University of Canterbury</p>
      <p>Jan 2022 - Present</p>
    </div>

    <div class="work-summary">
      <p>Key contributions:</p>
      <ul>
        <li>
          Develop engaging and innovative learning experiences from
          micro‑credentials to undergraduate and postgraduate online
          certificates, integrating pedagogical expertise and evidence‑based
          practices in blended and online learning.
        </li>
        <li>
          Ensure constructive alignment between the accredited curriculum,
          learning outcomes, and assessment items.
        </li>
        <li>
          Collaborate with stakeholders to create engaging, student‑centred
          learning experiences suitable for blended and online delivery,
          ensuring timely completion within scope.
        </li>
        <li>
          Collaborate with the educational media production team to develop
          engaging visual learning resources by contributing innovative ideas,
          offering constructive feedback, and ensuring alignment with learning
          goals.
        </li>
        <li>
          Embrace and implement Māori Strategy and uphold the principles of Te
          Tiriti o Waitangi, fostering inclusivity, participation, and
          recognition within the learning community.
        </li>
      </ul>
    </div>
  </section>

  <section class="work-item">
    <div class="work-details">
      <h3>Training Officer</h3>
      <p>Hellers Ltd</p>
      <p>Jul 2019 - Jan 2022</p>
    </div>

    <div class="work-summary">
      <p>Key contributions:</p>
      <ul>
        <li>
          Applied interaction design and interactive learning principles to
          instructional solutions.
        </li>
        <li>
          Developed training resources for on‑job‑trainers in collaboration with
          subject‑matter experts (SMEs).
        </li>
        <li>Facilitated the company induction programme.</li>
        <li>Ensured integrity of the safety operating procedures (SOPs).</li>
        <li>
          Created and managed e‑learning content using video editing and
          multimedia skills.
        </li>
        <li>
          Ensured staff were competent, productive, and supported in their
          work‑place.
        </li>
        <li>Created and maintained databases to track staff performance.</li>
        <li>
          Created and managed e‑learning content using video editing and
          multimedia techniques.
        </li>
      </ul>
    </div>
  </section>

  <section class="work-item">
    <div class="work-details">
      <h3>Health and Safety Technician</h3>
      <p>Bodegas Grupo Peñaflor</p>
      <p>Feb 2018 - Jul 2018</p>
    </div>

    <div class="work-summary">
      <p>Key contributions:</p>
      <ul>
        <li>
          Examined credentials and work permits to ensure compliance with
          licensing requirements.
        </li>
        <li>
          Supplied, controlled, and maintained personal protective equipment.
        </li>
        <li>
          Helped direct rescue and firefighting operations in the event of a
          fire.
        </li>
        <li>Planed emergency response drills.</li>
        <li>Facilitated training to employees and contractors.</li>
      </ul>
    </div>
  </section>

  <section class="work-item">
    <div class="work-details">
      <h3>Health and Safety Analyst</h3>
      <p>Bodega Chandon</p>
      <p>Jan 2013 - Apr 2014</p>
    </div>

    <div class="work-summary">
      <p>Key contributions:</p>
      <ul>
        <li>
          Provided specialist training and support for implementing the key
          components of the Heakth and Safety Strategy.
        </li>
        <li>
          Collected data and developed reports on the management of critical
          risk.
        </li>
        <li>
          Provided efficient, reliable, and quality data for scheduled and ad
          hoc reporting requirements.
        </li>
      </ul>
    </div>
  </section>

  <section class="work-item">
    <div class="work-details">
      <h3>Health and Safety Teacher</h3>
      <p>Escuela Gabriel Del Mazo</p>
      <p>Nov 2012 - Mar 2015</p>
    </div>

    <div class="work-summary">
      <p>Key contributions:</p>
      <ul>
        <li>
          Facilitated subjects according to curriculum goals and objectives set
          by syllabuses and school policy.
        </li>
        <li>
          Prepared, developed, and managed lesson plans and classroom resources.
        </li>
        <li>
          Evaluated students’ work, recording results and completing reports and
          profiles on student achievement.
        </li>
      </ul>
    </div>
  </section>
</section>

<!-- //  EDUCATION   // -->
<section class="portfolio-section">
  <!-- Start content edits below this line.  -->
  <h2>Education</h2>

  <section class="education-item">
    <h3>Instituto A-PRIORI CEC - Mendoza, Argentina</h3>
    <p>Diploma in Occupational Health and Safety, 2009</p>
    <p>NZQA Diploma Level 5</p>
  </section>

  <section class="education-item">
    <h3>Ernesto Perez Cuesta - Mendoza, Argentina</h3>
    <p>High School Diploma - 2003</p>
  </section>
</section>

<!-- //  COURSES AND CERTIFICATIONS  // -->
<section class="portfolio-section">
  <!-- Start content edits below this line.  -->
  <h2>Certifications</h2>

  <section class="certification-item">
    <h3>Public Speaking</h3>
    <p>Franco Pisso - Online 2024</p>
  </section>

  <section class="certification-item">
    <h3>Ethnic Women Leadership</h3>
    <p>Lady Khadija Trust - Christchurch 2024</p>
  </section>

  <section class="certification-item">
    <h3>Neurodiversity as a PRISM</h3>
    <p>Callum Mckirdy - Online 2023</p>
  </section>

  <section class="certification-item">
    <h3>Project Management Fundamentals</h3>
    <p>ACE Computer Training Ltd - Christchurch 2023</p>
  </section>

  <section class="certification-item">
    <h3>Te Reo Māori for the Workplace</h3>
    <p>University of Canterbury - Online 2023</p>
  </section>

  <section class="certification-item">
    <h3>Certified Articulate Storyline Advanced</h3>
    <p>B Online Learning - Online 2022</p>
  </section>

  <section class="certification-item">
    <h3>
      Instructional Design and Technology - Learning Theories and Instructional
      Design Models
    </h3>
    <p>University System of Maryland ‑ Certified by edX - Online 2021</p>
  </section>
</section>

<!-- //  SKILLS  // -->
<section class="portfolio-section">
  <h2>Skills</h2>
  <section class="skill-item">
    <h3>Programming</h3>
    <p>HTML, CSS, Bootstrap</p>
  </section>

  <section class="skill-item">
    <h3>Tools</h3>
    <p>Microsoft Office, Articulate 360, Adobe Creative Cloud Applications, Jira, Monday.com</p>
  </section>

  <section class="skill-item">
    <h3>Interpersonal</h3>
    <p>Teamwork, Leadership, Empathy, Motivation, Active listening</p>
  </section>

  <section class="skill-item">
    <h3>Languages</h3>
    <p>Spanish, English</p>
  </section>
</section>

<!-- //  PUBLICATIONS  // -->
<section class="portfolio-section">
  <h2>Publications</h2>
  <section class="publication-item">
    <p>
      Farley, H., & Herrera, E. (2023). Unlocking empathy and preparedness:
      Enhancing criminal justice education with Virtual Reality.
      <span class="fst-italic">ASCILITE Publications</span>, 393–397.
      <a
        href="https://publications.ascilite.org/index.php/APUB/article/view/578"
        target="_blank"
        >doi.org/10.14742/apubs.2023.578.</a
      >
    </p>
  </section>
</section>

{% endblock %}
