 <!-- //  FOOTER INFO, SOCIAL MEDIA  // -->
  <footer>
    <p>© 2024 by Erika Herrera | <a href="contact@eriherrera.com">contact@eriherrera.com</a></p>

    <ul class="socials">
      <li>
        <a href="" target="_blank"><img src="{{ url_for('static', filename='images/icon-logo-youtube.png') }}" alt="My YouTube channel"></a>
      </li>
      <li>
        <a href="" target="_blank"><img src="{{ url_for('static', filename='images/icon-logo-ko-fi.png') }}" alt="My Ko-Fi homepage"></a>
      </li>
      <li>
        <a href="" target="_blank"><img src="{{ url_for('static', filename='images/icon-logo-medium.png') }}" alt="My Medium homepage"></a>
      </li>
      <li>
        <a href="" target="_blank"><img src="{{ url_for('static', filename='images/icon-logo-instagram.png') }}" alt="My Instagram"></a>
      </li>
      <li>
        <a href="" target="_blank"><img src="{{ url_for('static', filename='images/icon-logo-linkedin.png') }}" alt="My LinkedIn profile"></a>
      </li>
      <li>
        <a href="" target="_blank"><img src="{{ url_for('static', filename='images/icon-logo-twitter.png') }}" alt="My Twitter profile"></a>
      </li>
    </ul>
  </footer>


