<!-- //  FOOTER INFO, SOCIAL MEDIA  // -->
<footer>
  <p class="my-4">
    © 2024 by Erika Herrera |
    <a href="contact@eriherrera.com">contact@eriherrera.com</a>
  </p>

  <ul class="socials my-4">
    <li></li>
    <li>
      <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </li>
    <li>
      <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
      <a href="" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
    </li>
  </ul>
</footer>
