<!-- //  FOOTER INFO, SOCIAL MEDIA  // -->
<footer>
  <p class="my-4">
    <span id="footerDescription"></span>
  </p>

  <ul class="socials my-4">
    <li>
      <a href="https://www.linkedin.com/in/eriherrera/" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/eriherre" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/erika.elearning/" target="_blank"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </li>
  </ul>
</footer>
