{% extends "base.html" %} {% block title %}Home - Erika Herrera{% endblock %}

<!-- //  ABOUT ME  // -->
{% block content %}

<section class="portfolio-section">
  <div class="rounded-image">
    <img
      src="{{ url_for('static', filename='images/erika-round.png') }}"
      alt="Erikas's Rounded Picture"
    />
  </div>

  <h2>About Me</h2>

  <p>
    I'm Erika, a dedicated Learning Designer committed to creating transformative, practical learning experiences that empower learners and support organisational growth. I specialise in designing learning solutions that are relevant, accessible, and inclusive, ensuring each one meets the unique needs of individuals and organisations.
  </p>
  <br>
  <p>
    With expertise in instructional design models, project and change management, and technology integration, I am proficient in tools such as Articulate 360, Adobe Creative Cloud, and LMS platforms. My strong foundation in occupational health and safety shapes my approach, enabling me to design learner-centred courses with a focus on real-world relevance. Collaboration is integral to my process; I value diverse perspectives to create engaging, high-quality learning resources.
  </p>
<br>
  <p>
    Throughout my career, I have led impactful projects across academia and industry. A notable achievement was developing a Certificate in Criminal Justice for a leading university, where I transformed a face-to-face programme into an engaging online format. By using a story-based learning approach, the course received exceptional feedback for its innovative design. Another success was a Food Safety Training module for an industry partner. I used the action mapping model, where I created performance-focused branching scenarios grounded in real-world challenges. This approach not only improved workplace practices but also earned highly positive feedback from production supervisors.
  </p>
  <br>
  <p>
    Outside of work, I enjoy dancing, experimenting with new culinary creations, and immersing myself in nature’s breathtaking landscapes. I also dedicate time to reading about emerging trends in education and technology, further fueling my passion for lifelong learning and innovation.
  </p>
</section>

{% endblock %}
