{% extends "base.html" %} 
{% block title %}Home - Erika Herrera{% endblock %}

<!-- //  ABOUT ME  // -->
{% block content %}

<section class="portfolio-section">
  <h1>Welcome to my portfolio!</h1>
</section>

<section class="portfolio-section">
  <p>
    I'm Erika, a passionate Learning Designer. I design and
    develop courses leveraging my project management and learning design skills.
    I have experience using different software like Articulate360, Adobe Cloud,
    and LMS-Moodle.
  </p>

  <p>
    With a strong occupational health and safety foundation, I am dedicated to
    creating practical learning experiences based on learners' and businesses'
    needs. Collaboration is at the heart of my design approach. My mission in
    every course is to create a learning experience that is relevant,
    accessible, diverse and inclusive.
  </p>

  <p>
    I strive to integrate technology into education seamlessly. I'm currently
    working at the University of Canterbury in New Zealand as an Instructional
    Designer and contributing to an innovative VR wellbeing platform as a
    creative developer.
  </p>

  <p>
    Outside work, I enjoy dancing, cooking and exploring
    nature in the stunning landscapes around the globe. 
  </p>
</section>

{% endblock %}
