{% extends "base.html" %} 
{% block title %}Projects - Erika Herrera{% endblock %}

{% block content %}

  <!-- //  PROJECTS  // -->
  <section class="portfolio-section">
    <h2>Featured Projects</h2>

    <div class="project-wrapper">
      
      <!-- //  Introduction to Criminal Justice  // -->
      <section class="project-item">
        <img
          src="{{ url_for('static', filename='images/projects/criminal-justice/cj-500x365.png') }}"
          srcset="{{ url_for('static', filename='images/projects/criminal-justice/cj-1000x730.png') }} 2x"
          alt="Decoded by Erika YouTube video thumbnails"
        />
        <h3>Introduction to Criminal Justice - Undergraduate course</h3>
        <p>        
        The NZQA Level 5 Certificate in Criminal Justice was the first full programme I developed for a terciary institution. The Introduction to Criminal Justice course was redesigned for online delivery, featuring story-based learning, multimedia elements, and real-world scenarios. Its innovative approach earned exceptional learner feedback and an Outstanding Teaching and Learning Transformation Award.
        </p>
        <a class="btn" href="{{ url_for('project', path='introduction-to-criminal-justice') }}">More info</a>
      </section>

      <!-- //  Instructional Design Basics  // -->
      <section class="project-item">
        <img
          src="{{ url_for('static', filename='images/projects/instructional-design/id-500x365.png') }}"
          srcset="{{ url_for('static', filename='images/projects/instructional-design/id-1000x730.png') }} 2x"
          alt="List of course names and thumbnails"
        />
        <h3>Instructional Design Basics - Microcredential</h3>
        <p>
          The NZQA Level 8 micro-credential Instructional design basics was one
          of my first completed Micro-credentials for a terciary institition. It focused on learners
          interested in learning fundamental instructional design frameworks and
          models. I worked with one subject matter expert and the educational
          media team. Communication and collaboration were vital during this
          project's design and development.
        </p>
        <a class="btn" href="{{ url_for('project', path='instructional-design-basics') }}">More info</a>
      </section>

       <!-- //  Listeria Awareness - e-learning course  // -->
      <section class="project-item">
        <img
          src="{{ url_for('static', filename='images/projects/listeria/l-500x365.png') }}"
          srcset="{{ url_for('static', filename='images/projects/listeria/l-500x365.png') }} 2x"
          alt="The TROY podcast website homepage"
        />
        <h3>Listeria Awareness - e-learning course</h3>
        <p>This e-learning course was developed to address a business need for an efficient training solution. By applying the Action Mapping approach, I prioritised what employees needed to do. I designed real-world scenarios and interactive practice activities to reinforce food safety practices. The module achieved a reduction in cross-contamination incidents, while earning positive feedback from both users and supervisors.</p>
        <a class="btn" href="{{ url_for('project', path='listeria-awareness') }}">More info</a>
      </section>

       <!-- //  Delinker System - VR Training co  // -->
      <section class="project-item">
        <img
          src="{{ url_for('static', filename='images/projects/delinker/d-500x365.png') }}"
          srcset="{{ url_for('static', filename='images/projects/delinker/d-500x365.png') }} 2x"
          alt="The Wire Ipsum quote generator website"
        />
        <h3>Delinker System - VR Training course</h3>
        <p>
          This VR Course is an innovative solution designed to train machine operators safely. Building on an existing e-learning module, this course enhances
          learning outcomes by providing an immersive, hands-on experience that reflect real-world procedures. 
          Throughout the development, I was able to integrate my expertise in occupational
          health and safety with learning design principles.
        </p>
        <a class="btn" href="{{ url_for('project', path='delinker') }}">More info</a>
      </section>
    </div>
  </section>

{% endblock %}